<div class="homepage" ui-view>

<div class="jumbotron section find-transp ta-center" style="background:white">
  <div class="container-fluid section-content">
    <div class="row">
      
      <div class="col-sm-4 find-transp-box">
        <p>FIND TRANSPORTATION</p>
        <p>Search our database of transportation programs</p>
        
        <form name="itnForm" novalidate ng-submit="searchPrograms()" role="search programs" ng-model="formData" style="background:white;color:black;float:left;padding:5%;padding-bottom:25%;margin;auto;float:none">
          
          <div class="form-group" ng-class="{ 'has-error' : itnForm.stateZip.$invalid && !itnForm.stateZip.$pristine }">
            <input type="text" class="form-control" style="font-style:italic" id="stateZip" name="stateZip" placeholder="State or Zip Code" ng-model="formData.stateZip" required>
            <span ng-if="itnForm.stateZip.$error.required && !itnForm.stateZip.$pristine" class="help-block">{{errorMessages.required}}</span>
          </div>
          
          <div class="form-group" ng-class="{ 'has-error' : itnForm.regionCounty.$invalid && !itnForm.regionCounty.$pristine }">
            <input type="text" class="form-control" style="font-style:italic" id="regionCounty" name="regionCounty" placeholder="Region or County" ng-model="formData.regionCounty" required>
            <span ng-if="itnForm.regionCounty.$error.required && !itnForm.regionCounty.$pristine" class="help-block">{{errorMessages.required}}</span>
          </div>
          
          <input type="submit" id="submit" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Search >" style="margin-left:2%;margin-top:10px">
        </form>
        
        <div style="float:left;margin-top:30px">
        <p style="font-size:25px">Or call us toll free for assistance<br>
          1-855-607-4337</p>
        </div>

      </div><!--col-->
      
      <div class="col-sm-offset-1 col-sm-7 find-transp-box">
        <p>Looking for Transportation? Start by entering your state and county or zip code in the box on the left. Click the search button to find the transportation options in your area.</p>
        <p>&nbsp;</p>
        <p>Do you prefer to speak to someone on the phone? Call our toll-free hotline at 1-855-607-4337 Monday through Friday, 8:00AM—8:00PM ET and we will be happy to assist you.</p>
        <p>&nbsp;</p>
        <p>If you have an emergency and need an ambulance, the police or the fire department, dial 9-1-1.</p>
    </div><!--col-->
      
  </div><!--row-->
  </div><!--container-->
</div><!--jumbo-->

<div class="jumbotron section huff-post mb-25"  style="background:white">
  <div class="container ta-center">
    <p>As featured in</p>
    <img ng-src="{{assetsPath}}/images/huffington_post.png">
  </div>
</div>



</div><!--home-->

